<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Chat App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is an app for group chatting">
        <meta name="author" content="ALI">

        <!-- set fav icon  -->
        <link rel="icon" href="/groupChat.png">

        <!-- connection with milligram CSS  -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

        <!-- connection with my-css  -->
        <link rel="stylesheet" href="/chat.css">

    </head>

    <body>

        <header></header>

        <main>

            <div id="mainDiv">

                <nav>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/chat">CHAT</a></li>
                    </ul>
                </nav>

                <div id="chatBox">

                    <ul id="chatHistory">
    
                    </ul>
    
                </div>
    
                <div id="inputBox">
    
                    <div id="inputFieldBtn">
    
                        <input type="text" name="msg" id="msg">
                        <button onclick="sendingMessage()" id="btn">Send</button>
    
                    </div>
    
                </div>
    

            </div>
            
        </main>

        <footer></footer>

        <!-- JavaScript Connection  -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/chatJS.js"></script>

    </body>

</html>